header {
  height: 100px;
  display: flex;
  align-items: center;
  img {
    width: 300px;
    height: 40px;
    margin: 0 30px 0 100px;
  }
  .tag-line p {
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.1rem;
    margin: 12px 0 0 0;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    .home {
      width: 100%;
    }
    .tag-line p {
      margin: 0;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    img {
      width: 300px;
      height: 40px;
      margin: 0;
      padding: 0 20px;
    }
    .tag-line p {
      margin: 0;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}


