header {
  height: 100px;
  img {
    width: 300px;
    height: 40px;
    margin: 30px 0 0 100px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 300px;
      height: 40px;
      margin: 0;
      padding: 0 20px;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}


